
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(orange, orange, blue, red);
  color: #333;
  scroll-behavior: smooth;
}

header {
  background: #4a90e2;
  color: white;
  padding: 20px;
  text-align: center;
   display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffdd57;
}

section {
  padding: 40px;
  text-align: center;
}

.card {
  display: inline-block;
  background: white;
  margin: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}
footer{
  background-color: black;
  text-align: center;
  padding: 20px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); background: #f39c12; }
  100% { transform: scale(1); }
}



